:root {
  --primary-text: #121417;
  --gray-text: #8a8a89;
  --translucent80-text: rgba(18, 20, 23, 0.8);
  --translucent-text: rgba(18, 20, 23, 0.7);
  --translucent20-text: rgba(18, 20, 23, 0.2);
  --white-text: #ffffff;
  --accent-color: #5350f4;
  --accent-hover: #868bff;
  --border-color: #9b9ae0;
  --translucent-border: rgba(18, 20, 23, 0.2);
  --bcgclr: #ffffff;
  --second-bgclr: #f8f8f8;
  --accent-bg: #c1bdf2;

  --price-color: #38cd3e;
  --star-color: #ffc531;
  --top-border-flag: #338af3;
  --bottom-border-flag: #ffda44;
}
