:root {
  --primary-text: #121417;
  --descr-text: rgba(18, 20, 23, 0.7);
  --white-text: #ffffff;
  --accent-color: #5350f4;
  --accent-hover: #868bff;
  --bcgclr: #ffffff;
  --accent-bg: #c1bdf2;
  --dash-color: #9b9ae0;
}
